body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
#cabecera{
    background: #33A;
    color: white;
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
}
#container{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid rgb(164, 148, 235);
    margin: 0 auto;
}
#container h1{
    font-size: 20px;
}
#post{
    padding: 1em;
}
#tagline{
    font-weight: normal;
    font-size: 0.8em;
    margin: 0 0 0 1em;
}